@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
       url('./vendor/fonts/inter-v2-latin_cyrillic-regular.woff') format('woff'),
       url('./vendor/fonts/inter-v2-latin_cyrillic-regular.woff2') format('woff2')
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src:
      url('./vendor/fonts/inter-v2-latin_cyrillic-700.woff') format('woff').
      url('./vendor/fonts/inter-v2-latin_cyrillic-700.woff2') format('woff2')
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src:
       url('./vendor/fonts/inter-v2-latin_cyrillic-900.woff') format('woff'),
       url('./vendor/fonts/inter-v2-latin_cyrillic-900.woff2') format('woff2')
}


.page {
  background-color: #2A2C2F;
  max-width: 320px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.header {
  height: 42px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 142px;
  height: 42px;
  background-image: url(./images/header-logo.svg); 
  background-size: 142px 42px;
}

.header__container {
  display: flex;
}

.header__lang-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #ffff;
  text-decoration: none;
  width: 22px;
  height: 20px;
  margin-top: 15px;
  padding-left: 18px;
}


.lead {
  margin-top: 48px;
  /* margin: auto; */
}

.lead__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  width: 288px;
  height: 88px;
  color: #ffffff;
  margin: 0 16px;
  text-align: center;
}

.lead__subtitle {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  width: 288px;
  height: 40px;
  color: #ffffff;
  margin: 16px 16px 40px 16px;
  text-align: center;
}

.lead__image {
  max-width: 320px;
  height: 200px;
}

.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  width: 158px;
  height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 16px;
  display: inline;
}

.intro {
  margin-top: 64px;
}
.intro__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  width: 288px;
  height: 70px;
  color: #ffffff;
  margin: 0 16px 40px 16px;
}
.intro__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  width: 288px;
  height: 520px;
  color: #ffffff;
  margin: 0 16px;
}
.intro__list {
  width: 288px;
  height: 90px;
  margin: 34px 16px 64px 16px;
  list-style: none;
  padding: 0;
}
.intro__list-item {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}