.cover__subtitle {
/* font-family: Inter;
font-style: normal; */
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 33px;
  max-width: 288px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .cover__subtitle{
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}