.website__url-heading{
  color: #AAAAAA;
}

@media (min-width: 768px) {
  .website__url-heading {
  }
}

@media (min-width: 1024px) {
  .website__url-heading{
    margin: 0;
    padding-bottom: 12px;
  }
}