.lead__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 288px;
  color: #ffffff;
  text-align: center;
  margin: 16px auto 40px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 50px;
  }
}
