.footer__nav-copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 48px;
}

@media (min-width: 768px) {
  .footer__nav-copyright {
    margin-top: 0;
  }
}
