.cover__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #ffff;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}